@media (max-width: 575px) {
    header .logo{      
        width: 40%;
    }
    .navbar-toggler-icon {
        background:#fff;
    }
    .navbar-nav{
        margin-top:20px;
    }
    .navbar-nav .nav-item{
        width:50%;
    }
    header .header-text h1{
        padding:0;
        font-size:40px;
    }
    header .header-text p{
        padding:0;
        font-size:16px;
    }
    .portfolio .image{
        height:320px;
    }
    .card{
        margin-bottom:20px;
    }
    .carousel .carousel-background{
        display:none;
    }
    .carousel .carousel-indicators{
        width:100%;
        margin-left:0;
    }
    .about-3 .about-3-control p {
        padding:0;
    }
    .about-3 .about-3-control .text-2 .nav-menu .nav-link{
        border:none;
        padding:0;
    }
    footer .footer-control p{
        padding:0;
    } 
}
@media (min-width: 576px) and (max-width: 767px) {
    .navbar-nav{
        margin-top:20px;
    }
    .navbar-nav .nav-item{
        width:50%;
    }
    header .header-text h1{
        padding:0;
        font-size:50px;
    }
    header .header-text p {
        padding:0;
    }
    .portfolio .image{
        height:320px;
    }
    .card{
        margin-bottom:20px;
    }
    .carousel .carousel-background{
        display:none;
    }
    .carousel .carousel-indicators{
        width:100%;
        margin-left:0;
    }
    .about-3 .about-3-control p {
        padding:0;
    }
    footer .footer-control p{
        padding:0;
    }
 }
@media (min-width: 768px) and (max-width: 991px) { 
    header .header-text h1{
        padding:0;
    }
    header .header-text p {
        padding:0;
    }
    .navbar-nav{
        margin-top:20px;
    }
    .navbar-nav .nav-item{
        width:50%;
    }
    .card{
        margin-bottom:20px;
    }
    .carousel .carousel-background .upper-p{
        font-size:25px;
        padding:2%;
        margin-bottom:0;
        line-height:1.2;
    }
    footer .footer-control p{
        padding:0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .carousel .carousel-background .upper-p{
        font-size:30px;
        padding:2%;
        margin-bottom:0;
    }
 }